.max-width{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;;
}
.full-width{
    width: 100%;
    margin: 0 auto;
}
.btn-product {
    margin-bottom: 12px;
    background-color: #4FA485;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
    margin-top: 12px;
    width: 95%;
    box-shadow: 1px 2px 3px #ccc;
}

