* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header {
    /* background-image: linear-gradient(rgb(20, 114, 255), rgb(24, 24, 207)); */
    display: flex;
    padding-top: 3px;
}

.header-width-search {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    width: 200px;
    max-width: 100%;
}

.header__logo span {
    font-size: 36px;
    color: aqua;
    font-weight: 600;
    text-shadow: 1px 2px 5px #8397F7;

}

.header__search {
    display: flex;
    position: relative;
    width: 500px;

}

.header__search input {
    border-radius: 5px;
    outline: none;
    border: 1px #ccc solid;
    padding: 6px 24px;
    width: 100%;
}

.header__search i {
    position: absolute;
    right: 12px;
    top: 25%;
    opacity: 0.7;
}

.header__control {
    display: flex;
    align-items: center;
}

.header__cart {
    margin-right: 64px;
    font-size: 24px;
    color: aqua;
    text-shadow: 1px 2px 2px #8397F7;
    cursor: pointer;
}

.header__sign-up button {
    cursor: pointer;
    margin-right: 6px;
    padding: 6px 24px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #8397F7;
    color: #fff;
}

.header__login button {
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #FA1E1F;
    color: #fff;
}

.nav__nav-bar {
    background-color: aqua;
    height: 40px;
    margin-top: 6px;
}

.nav__nav-bar ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.list__nav-bar {
    list-style: none;
}

.item__nav-bar {
    text-decoration: none;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.banner img {
    width: 100%;
}

.container__favorite-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.favorite-products__product {
    width: 30%;

}

.favorite-products__product img {
    width: 100%;

}

.nav__menu {
    display: flex;
    justify-content: center;
    border-bottom: 1px #ccc solid;
}

.nav__menu button {
    margin: 6px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 3px 12px;
}

.nav__menu button:first-child {
    margin: 1px 6px;
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    font-size: 18px;

}

.container__list-products {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    width: 25%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 6px;
}

.img-product {
    padding: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.name-product {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}

.price-product {
    color: #FA1E1F;
    font-size: 14px;
    margin-bottom: 12px;
}



/* .product-item:hover .btn-product{
    display: block;
} */


/* Nav menu */
.nav__content-body {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    position: relative;
    /* clear: none; */

    width: 25%;
    border: 1px solid #ccc;
}

.header__nav-menu {
    background-color: #4FA485;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    font-size: 20px;
    font-weight: 500;
}

.list__nav-menu {
    list-style: none;
    padding: 0;
}

.items-nav-menu {

    margin: 24px 0;
    text-align: center;
    /* margin: 3px 0; */
}

.link__nav-menu {
    /* padding: 6px 0; */
    text-decoration: none;
    /* background-color: #8397F7; */
    /* line-height: 100%; */
    color: #000;

}

/* sp yeu thich */
.favorite-product {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-product {
    width: 30%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;

    /* height: 100%; */
}

.img-product {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.name-product {
    font-weight: 600;
}

.price-product {
    color: #FA1E1F;
}

.list-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.product {
    text-align: center;
    width: 19%;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 4px #ccc;
    border-radius: 5px;
}


/* shlieshow */
.banner{
    width: 100%;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */


/* The dots/bullets/indicators */


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

footer {
    margin-top: 200px;
    text-align: center;
    height: 50px;
    background-color: #8397F7;
}

footer p {
    line-height: 50px;
    font-weight: 600;
    color: #fff;
}